---
layout: default
title: Projects
description: Ollie's personal projects
categories: none
---

<section>

<h2>Projects</h2>

{% assign projects = site.projects | reverse %}
{% for project in projects %}
  <article class="media">

    <a class="pull-left" href="{{ project.url }}">
      <img class="media-object" src="{{ project.logo }}" width="64" height="64" alt="#">
    </a>

    <div class="media-body">

      <h3 class="media-heading">
        <a href="{{ project.url }}">{{ project.title }}</a>
        {% if project.website %}
          <small>
            <a href="{{ project.website }}">{{ project.website_pretty }}</a>
          </small>
          {% if project.prefetch %}
            <link rel="prefetch" href="{{ project.website }}" />
          {% endif %}
        {% endif %}
      </h3>

      <p class="punchline">
        {{ project.summary }}
      </p>
    </div>

  </article>
{% endfor %}

</section>
