<header>
  <div id="site-logo">
{% if page.url == '/contact/index.html' %}
    <a href="/"><img src="/assets/img/contact-qr.png" alt="QR Code" width="150" height="150" /></a>
{% else %}
  {% if page.title == "Home" %}
      <img class="img-circle" src="/assets/img/face.jpg" alt="Site Logo" width="150" height="150" />
  {% else %}
      <a href="/"><img class="img-circle" src="/assets/img/face.jpg" alt="Site Logo" width="150" height="150" /></a>
  {% endif %}
{% endif %}
  </div>

  <h1>
    Ollie Bennett
  </h1>

  <nav>
{% if page.title == "Home" %}
    <i class="fa fa-home current-page"></i>
{% else %}
    <a href="/"><i class="fa fa-home"></i></a>
{% endif %}
&nbsp;
{% if page.title == "Notes" %}
    <i class="fa fa-lightbulb-o current-page"></i>
  &nbsp;
{% elsif page.collection == "notes" %}
    <a href="/notes"><i class="fa fa-lightbulb-o"></i></a>
  &nbsp;
{% endif %}
{% if page.title == "Projects" %}
    <i class="fa fa-cogs current-page"></i>
{% else %}
    <a href="/projects"><i class="fa fa-cogs"></i></a>
{% endif %}
&nbsp;
{% if page.title == "Contact" %}
    <i class="fa fa-envelope current-page"></i>
{% else %}
    <a href="/contact"><i class="fa fa-envelope"></i></a>
{% endif %}
  </nav>
</header>
