    <header>

      <div id="site-logo">
{% if page.url == '/contact/index.html' %}
        <a href="/"><img src="/assets/img/contact-qr.png" width="150" height="150" /></a>
{% else %}
        <a href="/"><img class="img-circle" src="/assets/img/face.jpg" width="150" height="150" /></a>
{% endif %}
      </div>

      <h1><a href="/">Ollie Bennett</a></h1>

      <p><a href="/"><i class="fa fa-home"></i></a> | <a href="/projects/"><i class="fa fa-cogs"></i></a> | <a href="/blog/"><i class="fa fa-comment-o"></i></a> | <a href="/contact/"><i class="fa fa-envelope"></i></a></p>

    </header>