
body {

  font-family: "Computer Modern Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #F6F9ED;

}

/* Font size shrinks on smaller devices */
body {
  font-size: x-large;
}
@media (max-width: 1000px) {
  body { font-size: large; }
}
@media (max-width: 500px) {
  body { font-size: medium; }
}

#container {

  margin: 3%;
  border: 3px solid black;
  padding: 3%;

}

header {
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 3px dotted black;
  margin-bottom: 10px;
}

footer {
  text-align: center;
  border-top: 3px dotted black;
  padding-top: 15px;
}

code {
  border: 1px dotted black;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0;
}


h1 {

  margin: 0;
  /*font-family: 'surfacemedium';*/
  font-size: 3em;

}


h2 {

  /*font-family: 'bebas_neueregular';*/
  font-variant: small-caps;
  text-align: center;
}

h3 {

  margin: 0;

}

p {

  /*font-family: 'raleway_thin';*/
  margin-top: 2px;
  margin-bottom: 0;
}

a, a:visited, a:active, a:hover {
  text-decoration: none;
  color: black;
}

@media print {

  /* Hide Navigation */
  #navigation {
    display: none;
  }

  /*
  .page-break {
    page-break-before: always;
  }


  article {
    page-break-inside: avoid;
    page-break-before: avoid;
  }
 */
  h1, h2, h3, h4, h5, h6 {
    page-break-after: avoid;
  }

  /*
  body {
    background: white;
  }
  */

  #container {

    border: 0;

  }

  /* Show link URLs when printing */
  a.printable:link:after, a.printable:visited:after {
    content:" [" attr(href) "]";
  }

  /* Show links as normal text */
  a {
    color: black;
    text-decoration: none;
  }

  .skill {
    border: 1px solid #000;
  }

}

.img-circle {
  border-radius: 50%;
}

#site-logo img {
  border: 3px solid black;
}


section {
  padding-bottom: 15px;
}

article {
  margin-top: 25px;
}

div.article-image-container {
  padding: 5px;
  float: left;
}

div.article-image-container img {
  border: 1px solid black;
}

.punchline {
  font-style: italic;
  margin-top: 0px;
}

p.read-more {
  font-size: 0.8em;
  font-weight: bold;
}

/* Helpers */
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
.clearfix {
  clear: both;
}
.centered {
  text-align: center;
}

/* Media (i.e. floated article images) */
.media,
.media-body {
  overflow: hidden;
  *overflow: visible;
  zoom: 1;
}

.media-object {
  display: block;
}

.media-heading {
  margin: 0 0 5px;
}

.media > .pull-left {
  margin-right: 10px;
}

.media > .pull-right {
  margin-left: 10px;
}

img.bordered {
  /* TODO: reduce margin/padding to compensate for the border? */
  border: 1px solid black;
}

/* Based on Twitter Bootstrap Labels */
.skill {
  display: inline;
  padding: .1em .3em;
  margin: .2em 0;
  font-size: 75%;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
}
.skill {
  position: relative;
}
.skill-beginner {
  background-color: grey;
}
.skill-intermediate {
  background-color: #0077AF;
}
.skill-expert {
  background-color: #008F68;
}

.current-page {
  color: grey;
}