---
layout: default
---


<div class="media">

  <div class="pull-left">
    <img class="media-object" src="{{ page.image }}" width="64" height="64" alt="#">
  </div>

  <div class="media-body">

    <h3 class="media-heading"><a href="{{ page.url | remove:'index.html' }}">{{ page.title }}</a></h3>

{% if page.punchline %}
    <p class="punchline">{{ page.date | date_to_string }} » <a href="{{ page.url | remove:'index.html' }}">{{ page.punchline }}</a></p>
{% else %}
    <p class="punchline">{{page.date | date_to_string }}</p>
{% endif %}

    {{ content }}

  </div>

</div>
