<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <title>{% if page.title %}{% if page.title != "Home" %}{{ page.title }} • {% endif %}{% endif %}{{ site.title }}</title>
    <meta name="description" content="{{ page.description }}">
    <meta name="viewport" content="width=device-width">
{% if page.noindex %}
    <meta name="robots" content="noindex" />
{% endif %}
    <link rel="stylesheet" href="/assets/vendor/normalizecss/normalize.css" />

    <link rel="stylesheet" href="/assets/fonts/computer-modern-serif/stylesheet.css" />

    <link rel="stylesheet" href="/assets/vendor/font-awesome/css/font-awesome.min.css">

    <link rel="stylesheet" href="/assets/css/main.css">

{% include analytics.html %}

  </head>
  <body>

    <div id="container">

{% include header.html %}

{{content}}

{% include footer.html %}

    </div> <!-- /container -->

    <script src="/assets/js/main.js"></script>

    <img src="https://c.statcounter.com/12461417/0/cfd57f68/1/">
  </body>
</html>
