<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% if page.title %}{% if page.title != "Home" %}{{ page.title }} • {% endif %}{% endif %}{{ site.title }}</title>
    <meta name="description" content="{{ page.description }}">
    <meta name="viewport" content="width=device-width">
{% if page.noindex %}
    <meta name="robots" content="noindex" />
{% endif %}
    <link rel="stylesheet" href="/assets/vendor/normalizecss/normalize.css" type="text/css" charset="utf-8" />

    <link rel="stylesheet" href="/assets/fonts/computer-modern-serif/stylesheet.css" type="text/css" charset="utf-8" />

    <link rel="stylesheet" href="/assets/vendor/font-awesome/css/font-awesome.min.css">

    <link rel="stylesheet" href="/assets/css/main.css">

  </head>
  <body>

    <div id="container">

      {% include header.html %}

      {{content}}

      {% include footer.html %}

    </div> <!-- /container -->

    <script src="/assets/js/main.js"></script>

<!--
    <script>
      var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src='//www.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>
-->
  </body>
</html>
