<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% if page.title %}{% if page.title != "Home" %}{{ page.title }} • {% endif %}{% endif %}{{ site.title }}</title>
    <meta name="description" content="{{ page.description }}">
    <meta name="viewport" content="width=device-width">
{% if page.noindex %}
    <meta name="robots" content="noindex" />
{% endif %}
    <link rel="stylesheet" href="/assets/vendor/normalizecss/normalize.css" type="text/css" charset="utf-8" />

    <link rel="stylesheet" href="/assets/fonts/computer-modern-serif/stylesheet.css" type="text/css" charset="utf-8" />

    <link rel="stylesheet" href="/assets/vendor/font-awesome/css/font-awesome.min.css">

    <link rel="stylesheet" href="/assets/css/main.css">

    <script>

      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-31244795-1', 'olliebennett.co.uk');
      ga('send', 'pageview');

    </script>

  </head>
  <body>

    <div id="container">

      {% include header.html %}

      {{content}}

      {% include footer.html %}

    </div> <!-- /container -->

    <script src="/assets/js/main.js"></script>

  </body>
</html>
