---
layout: default
---

<div class="jumbotron">
  <h2>Project Details</h2>
  <article class="media">

    <p class="pull-left">
      <img class="media-object" src="{{ page.logo }}" width="64" height="64" alt="#">
    </p>

    <div class="media-body">
      <h3 class="media-heading">
        {{ page.title }}
        {% if page.date %}
          {% assign project_year = page.date | date: "%Y" %}
          {% assign current_year = site.time | date: "%Y" %}
          ({% if project_year != current_year %}since {% endif %}{{ page.date | date: "%Y" }})
        {% endif %}
      </h3>

      <p class="punchline">
        {{ page.summary }}
      </p>
    </div>

  </article>

  {% if page.website %}
    <h3>
      <small>
        <a href="{{ page.website }}">{{ page.website_pretty }}</a>
      </small>
    </h3>
  {% endif %}

  {{ content }}
</div>
